<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>店舗様管理画面</title>
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<!--[if lt IE 8]>
<script src="https://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
<![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="js/html5shiv.js"></script><![endif]-->
<script src="../js/jquery-2.1.0.min.js"></script>
<script src="../js/ad/my.js"></script>
<link href="../css/font-awesome.css" rel="stylesheet" media="all">
<link href="../css/ad/style.css" rel="stylesheet" media="all">
</head>
<body>

<header>ここにヘッダー</header>

<div id="contents">
	<div id="menu">
		<ul>
			<li class="current"><i class="fa fa-dashboard fa-2x fa-fw"></i><a href="">xxxxxxx</a></li>
			<li><i class="fa fa-heart fa-2x fa-fw"></i><a href="">xxxxxxx</a></li>
			<li><i class="fa fa-heart fa-2x fa-fw"></i><a href="">xxxxxx</a></li>
			<li><i class="fa fa-edit fa-2x fa-fw"></i><a href="">xxxxxxx</a></li>
		</ul>
	</div>
	<div id="main">
		<div class="block">
			<div class="subhead">キャスト一括スケジュール登録</div>
			aaaaaaaaaa<br />
			iiiiiiiiii<br />
		</div>
	</div>
</div>

<footer>© Panda Web Concierge</footer>

</body>
</html>