<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>店舗様管理画面</title>
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<!--[if lt IE 8]>
<script src="https://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
<![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="js/html5shiv.js"></script><![endif]-->
<link href="../css/ad/style.css" rel="stylesheet" media="all">
</head>
<body>

<header>ここにヘッダー</header>

<div id="contents">
	<div id="menu">
		<ul>
			<li class="current"><a href="">xxxxxxx</a></li>
			<li><a href="">yyyyyyy</a></li>
		</ul>
	</div>
	<div id="main"></div>
</div>

<footer>ここにフッター</footer>

</body>
</html>