/* ----------------------------------------------------------------------------------------------------
	reset
---------------------------------------------------------------------------------------------------- */
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
dd {
	margin: 0px;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align:bottom;
}