$base_bg_color:#292A2B;
$base_font_color:#666;
$base_link_color:#3A638C;
$base_border_color:#E5E5E5;
$menu_width:220;

// Font
$gothic: "Verdana, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'ＭＳ Ｐゴシック'", sans-serif;
$mincho: "明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;

@import "compass";
@import 'nomalize';
@import 'reset';
@import 'extend';
@import 'mixin';
@import 'layout';
